html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: inherit;
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	text-align: inherit;
	text-decoration: inherit;
	color: inherit;
	background-color: transparent;
}

.animated {
	-webkit-animation-duration: 500ms;
	animation-duration: 500ms;
}

body *:focus,
body *:active {
	outline: none;
	text-decoration: none;
}
::-moz-focus-inner {border:0;}

body.keynav a[href]:not([tabindex='-1']):focus,
body.keynav area[href]:not([tabindex='-1']):focus,
body.keynav input:not([disabled]):not([tabindex='-1']):focus,
body.keynav select:not([disabled]):not([tabindex='-1']):focus,
body.keynav textarea:not([disabled]):not([tabindex='-1']):focus,
body.keynav button:not([disabled]):not([tabindex='-1']):focus,
body.keynav iframe:not([tabindex='-1']):focus,
body.keynav [tabindex]:not([tabindex='-1']):focus,
body.keynav [contentEditable=true]:not([tabindex='-1']):focus,
body.keynav a[href]:not([tabindex='-1']):active,
body.keynav area[href]:not([tabindex='-1']):active,
body.keynav input:not([disabled]):not([tabindex='-1']):active,
body.keynav select:not([disabled]):not([tabindex='-1']):active,
body.keynav textarea:not([disabled]):not([tabindex='-1']):active,
body.keynav button:not([disabled]):not([tabindex='-1']):active,
body.keynav iframe:not([tabindex='-1']):active,
body.keynav [tabindex]:not([tabindex='-1']):active,
body.keynav [contentEditable=true]:not([tabindex='-1']):active{
	outline: #9f0 solid 2px;
}

html {
	font-size: 16px;
	-webkit-text-size-adjust: 100%;
}

body {
	background-color: #000;
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 400;
	font-style: normal;
	vertical-align: top;
	font-family: 'Exo 2', sans-serif;
	text-align: left;
	text-decoration: none;
	color: #ccc;
}
.backgroundImage,
.dots{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	max-width: 100%;
	height: 100vh;
	-webkit-transform: translate3d(0, 0, 0);
	transform : translate3d(0, 0, 0);
}
.backgroundImage{
	background-image: url('https://aws-website-videonuclearpixelcom-tgl8t.s3.amazonaws.com/content/networking-48-thumb.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	opacity: 0.5;
}
.dots{
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewbox="0 0 48 48"><ellipse fill="rgba(255,255,255,0.075)" cx="24" cy="24" rx="1.75" ry="1.75" /></svg>');
	background-repeat: repeat;
	background-position-y: -1.5rem;
	background-position-x: center;
}

h1, h2, h3, h4, p, pre{
	padding: 0;
	margin: 0.75rem 0;
	font-size: 1.5rem;
	line-height: 1.0em;
}

p, pre{
	font-size: 1rem;
	line-height: 1.5em;
}
pre{
	font-family: monospace;
	background-color: rgba(0,0,0,0.5);
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
}

body a,
body a:link,
body a:focus,
body a:visited,
h1 em {
	color: #9f0;
}
body a:hover{
	color: #cf0;
	text-decoration: none;
}
body a,
body a:link,
body a:focus,
body a:visited{
	cursor: pointer;
}

.transition{
	transition-duration: 250ms;
	transition-property: all;
	transition-timing-function: ease;
}

.container{
	position: relative;
	margin: 0 auto;
	top: 0;
	-webkit-transform: translate3d(0, 0, 0);
	transform : translate3d(0, 0, 0);
}

header{
	padding: 0 1rem;
	height: 6rem;
}
header *{
	line-height: 2.75rem;
}
header > * {
	height: 3rem;
}
header .brand{
	text-align: center;
}
header .brand h1 {
	margin: 0;
}
header .brand h4 {
	display: none;
	position: relative;
	font-size: 0.75rem;
	color: rgba(255, 255, 255, 0.125);
	top: 0.25rem;
	left: -1.5rem;
	padding-left: 0.25rem;
	margin: 0;
	float: left;
}
header a{
	display: block;
	-webkit-transform: translate3d(0, 0, 0);
	transform : translate3d(0, 0, 0);
}

header nav {
	text-align: center;
}
header nav ul{
	display: flex;
	padding: 0;
}
header nav li{
	display: block;
	flex-grow: 1;
	flex-basis: 0;
}

.page-content{
	position: relative;
	width: 100vw;
	max-width: 100%;
	-webkit-transform: translate3d(0, 0, 0);
	transform : translate3d(0, 0, 0);
}

.noSelect,
.noSelect *{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	user-drag: none;
}

.box {
	display: block;
	position: relative;
	padding: 0.5rem;
}

.box.forText {
	padding: 0.25rem 1rem;
}

a .box:hover:before{
	opacity: 0.5;
}
a .box:active:before,
a .box:focus:before{
	opacity: 0.75;
}

.video-list{
	display: flex;
	flex-flow: row wrap;
	padding: 0 0.5rem;
}
.video-list-item{
	flex: 1 50%;
	max-width: 50%;
}
.video-list-item a{
	display: block;
}
.video-list-item .box{
}
.video-list-item .box .titleHolder {
	display: none;
	height: 4rem;
	width: 100%;
}
.video-list-item .box .titleHolder .title {
	padding: 0;
}

.video-theatre{
	position: relative;
	background-color: rgba(0, 0, 0, 0.5);
}
.theatre-fade{
	position: relative;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5));
	height: 1rem;
	z-index: -1;
}
.video-description{
	position: relative;
	background-color: rgba(0, 0, 0, 0.25);
	padding-bottom: 1rem;
}

.thumbHolder {
	display: block;
	position: relative;
	line-height: 0;
}
.thumbHolder{
	border: 1px solid rgba(255, 255, 255, 0.125);
	margin: -1px;
}
.thumb{
	display: block;
	padding-bottom: 56.25%;
	cursor: pointer;
}
.thumb img{
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
}

.box .title {
	display: table-cell;
	padding-top: 0.5rem;
	line-height: 1.5rem;
	vertical-align: middle;
	text-align: center;
}

ul, ol{
	padding-left: 1.5rem;
}

/* small */
@media (min-width: 480px) {
}
/* medium */
@media (min-width: 628px) {
	header{
		position: relative;
		padding: 0;
	}
	header *{
		line-height: 4rem;
	}
	header .brand,
	header nav{
		top: 1rem;
		position: absolute;
	}
	header .brand{
		left: 0;
		text-align: left;
	}
	header .brand h1 a {
		padding: 0 1.5rem;
	}
	header .brand h1 {
		float: left;
	}
	header .brand h4 {
		display: block;
	}
	header nav {
		right: 0;
		text-align: center;
		width: 18rem;
	}
	.box:before{
		content: ' ';
		position: absolute;
		z-index: -1;
		display: block;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 0.25;
		background-image:
			url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24"><polyline transform="rotate(  0 12 12)" stroke="rgb(255,255,255)" stroke-width="1" stroke-linecap="round" fill="none" stroke-linejoin="round" points="2,22 2,2 22,2" /></svg>'),
			url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24"><polyline transform="rotate( 90 12 12)" stroke="rgb(255,255,255)" stroke-width="1" stroke-linecap="round" fill="none" stroke-linejoin="round" points="2,22 2,2 22,2" /></svg>'),
			url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24"><polyline transform="rotate(180 12 12)" stroke="rgb(255,255,255)" stroke-width="1" stroke-linecap="round" fill="none" stroke-linejoin="round" points="2,22 2,2 22,2" /></svg>'),
			url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24"><polyline transform="rotate(-90 12 12)" stroke="rgb(255,255,255)" stroke-width="1" stroke-linecap="round" fill="none" stroke-linejoin="round" points="2,22 2,2 22,2" /></svg>');
	}
	.box:before {
		background-repeat: no-repeat;
		background-position: top left, top right, bottom right, bottom left;
	}
	.video-list{
		padding: 0;
	}
	.video-list-item .box{
		padding: 1rem 1rem 0 1rem;
	}
	.video-list-item .box .thumbHolder {
		margin: 0 0.0625rem;
	}
	.video-list-item .box .titleHolder {
		display: table;
	}
}
/* medium */
@media (min-width: 720px) {
	.backgroundImage{
		background-image: url('https://aws-website-videonuclearpixelcom-tgl8t.s3.amazonaws.com/content/networking-48-preview.jpg');
	}
	.dots{
		background-position-x: calc(50% - 24px);
	}
	header{
		height: 6rem;
	}
	.container{
		width: 720px;
		margin: 0 auto;
	}
	.video-list-item{
		flex: 1 33.3333333%;
		max-width: 33.3333333%;
	}
}
/* xlarge */
@media (min-width: 960px) {
	.dots{
		background-position-x: center;
	}
	.container{
		width: 960px;
	}
	.video-list-item{
		flex: 1 25%;
		max-width: 25%;
	}
}
